@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <a href='@Url.Action("ListarArtistas","Home")'><img src = "~/Imagenes/MusicTube.png" width=60%></a>
</div>
