html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bodyback{
	background-image: url("https://art.ngfiles.com/images/642000/642224_dantheassassin_city-pixel-art.png?f1536939614");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}