@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>@ViewBag.Formulario.Nombre</h1>
    <img src=@ViewBag.Formulario.ImgBandera width="200px">
    <p>Población @ViewBag.Formulario.Poblacion</p>
    <p>Fecha de independencia @ViewBag.Formulario.FechaIndependencia.ToShortDateString()</p>
    <p>Atractivos Turisticos: @ViewBag.Formulario.AtractivosTuristicos</p>
</div>