<body>
    @{
        ViewData["Title"] = "Victoria";
    }
    <div class="text-center">
        <u><h1 class="display-4">Victoria</h1></u>
        <h4>Has salido de la guerra con éxito. ¡Llegaste a Polonia!</h4>
        <img src = "~/Imagenes/Victory.gif" width="650" height= "auto">
    </div>
</body>