@{
    ViewData["Title"] = "Home Page";
}
<br><br>
<div class="text-center"><br><br><br><br><br><br><br><br><br>
    <img src="~/Imagenes/PreguntadOrt.png" style="width: 55%"><br>
    <br><br><br>
    <button type="button" class="btn"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ConfigurarJuego"><img src ="~/Imagenes/Jugar.png" width = "250px"></a></button>
</div>
